.header {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    margin-bottom: 0;
    margin-top: 70px;
    line-height: 13vh;
    & > span {
        color: #FF524F;
        font-style: italic;
        border-bottom: 3px dashed #FF524F;
    }
}

.slogan-title {
    font-size: 24px;
    font-style: italic;
    margin-top: 0;
}

.guitarras {
    color: #1F313C;
    margin: 0 auto;
    margin-bottom: 100px;
    max-width: 800px;

    & > h2 {
        width: 50%;
        margin: 2rem 0 5rem 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.8rem;
    }
}

.portada {
    color: white;
    padding: 20px;
    height: calc(100vh - 40px);

    & > button {
        margin-bottom: 70px;
    }
}

.menu {
    font-size: 24px;
    display: inline-block;
    position: absolute;
    right: 0;
}

.menu li {
    display: inline-block;
    margin-left: 30px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu li:before {
    content: '∘';
    font-size: 50px;
    line-height: 20px;
    color: white;
}

.logotipo {
    display: inline-block;
    margin-left: 0;
}

.guitarra {
    display: flex;
    position: relative;
    align-items: center;
    padding: 10px 4em;
    height: 24vh;
    margin: 20px auto;
    border: 5px solid #1F313C;
    border-radius: 6px;
    color: whitesmoke;
    background-color: #118ab2;
    transition: .3s;
    /*overflow: hidden;*/

    &-image {
        width: 100%;
        max-width: 350px;
        position: absolute;
        right: 0;
        top: -88px;
    }
}

.guitarra:hover {
    box-shadow: 10px 8px 0 #e56b6f;
}

.guitarra:nth-of-type(even) {
    justify-content: flex-end;
    background-color: #06d6a0;
    color: #212529;
}

.guitarra:nth-of-type(even):hover {
    box-shadow: -10px 8px 0 #212529;
}

.guitarra:nth-of-type(even) .guitarra-image {
    max-width: 420px;
    left: 0;
    right: initial;
    top: -20px;
}

.guitarra-name {
    font-size: 3em;
    margin: 0 0 .2em;
    border-bottom: .1rem dashed ;
}

.footer {
    display: flex;
    justify-content: center;
    background: #273b47;
    padding: 60px 10px;
    margin: auto;
    text-align: center;
    max-width: 1920px;
}

.contacto {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    align-items: center;
}

.contacto img {
    display: block;
}

.contacto strong {
    display: block;
}

.contacto a {
    color: white;
    text-decoration: none;
    margin: 0 15px 0 0;
}

.formulario {
    display: flex;
    width: 400px;
    color: white;
}

.col1, .col2 {
    display: flex;
    flex-direction: column;
}

.col1 {
    margin-right: 15px;
}

.col2 {
    align-items: flex-start;
}

.col2 .button {
    margin-top: 15px;
}

.intereses label {
    font-size: 12px;
}

.formulario label, .sexo, .intereses {
    margin-bottom: 10px;
}

.sexo {
    margin-top: 10px;
}

.tabla {
    margin: 50px 0;
}

.burguer-button {
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    height: 40px;
    background: #395667;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: fixed;
    left: 20px;
    top: 20px;
    color: white;
    z-index: 3;
    display: none;
}

.video-demo {
    max-width: 700px;
    width: 100%;
    border: 5px solid #3c5b6e;
}

.video-demo-contenedor {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}