.contenedor {
    max-width: 800px;
    text-align: center;
    margin: 30vh auto;
    position: relative;
}

.background {
    background-color: #466173;
    background-image: url('../items/images/background.png');
    background-size: cover;
}

.button {
    border-radius: 12px;
    border: none;
    height: auto;
    color: white;
    padding: 7px 15px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.3rem;
    background: #fd324e;
    background: linear-gradient(to left, #fe344e, #ff7250);
}

