@media screen and (max-width: 800px) {
/*body {
    border: 10px solid red;
}*/
/*.contenedor {
    width: auto;
    max-width: 800px;
}*/

/* precios */
.tabla {
    margin: 50px 20px;
}
.tabla .contenedor {
    overflow: auto;
    border: 1px solid #273b47;
}
/* precios */
/* portada */
.titulo {
    font-size: 45px;
    margin-top: 30px;
}
.title-a {
    font-size: 18px;
}
.portada {
    height: auto;
}
.portada .button {
    margin-bottom: 30px;
    display: inline-block;
}
/* portada */


/* guitarras */
.video-demo-contenedor {
    margin-bottom: 30px;
}
.guitarras {
    text-align:center;
}
.izquierda, .derecha {
    float: none;
    position: static;
}
.title-b {
    margin: 0;
}
.guitarra li {
    list-style: none;
}
.guitarra.b {
    height: auto;
}
.contenedor-guitarra-b {
    position: static;
    margin: 0;
}
.contenedor-guitarra-a {
    padding: 0;
}
/* guitarras */

}

@media screen and (max-width: 767px) {
/* footer */
.footer .contenedor {
    display: block;
}

.contacto {
    margin: 0 auto;
}
.formulario {
    display: block;
    margin: 0 auto;
    width: 300px;
}

.intereses label {
    display: block;
    font-size: 16px;
}
.col1 {
    margin: 0;
}
input[type="text"],
input[type="email"] {
    font-size: 16px;
    padding: 5px;
}
textarea {
    width: 100%;
}
input[type="radio"],
input[type="checkbox"] {
    zoom: 1.5;
}
/* footer */
}

@media screen and (max-width: 650px) {

.header {
    text-align: center;
}

.logotipo {
    margin: 0;
}

.menu {
    position: static;
    display: block;
}

.menu li:first-child {
    margin: 0;
}

.menu ul {
    padding: 0;
}

/* guitarras */
/*.video-demo {
    margin: 0 10px;
}*/
/* guitarras */

}


@media screen and (max-width: 500px) {
/* portada */
.portada .button {
    display: block;
}
.precios .header .logotipo {
    margin: 50px 0;
}
.burguer-button {
    display: block;
}
.portada .contenedor {
    position: static;
}
.header {
    position: static;
}
.header .contenedor {
    position: static;
}
.menu {
    background: rgba(255, 60, 88, .8);
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 2;
    bottom: 0;
    right: 0;
    display: flex;
    width: 100%;
    align-items: center;
    transition: .3s;
}
.menu.active {
    left: 0;
}

.menu ul {
    flex: 1;
}
.menu li {
    display: block;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid white;
}

.menu li:before {
    display: none;
}

.menu li:first-child {
    border-top: 1px solid white;
}
.portada {
    text-align: center;
}
.titulo {
    font-size: 30px;
}

.title {
    font-size: 16px
}
/* portada */

/* guitarras */
.guitarra img {
    width: 200px;
    /*height: auto;*/
}
.title-b {
    font-size: 30px;
}
.video-demo-contenedor {
    margin: 0 10px 30px 10px;
}
/* guitarras */

/* footer */
.col2 {
    align-items: stretch;
}
/* footer */

}


video {
width: 100%;
}


.video-responsive-contenedor {
position: relative;
padding-top: 56.25%;
}

.video-responsive-src {
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
width: 100%;
height: 100%;
}


@media screen and (-webkit-min-device-pixel-ratio: 2) {
.background {
    background-image: url('../items/images/background2x.png');
}
}