@charset "UTF-8";
/* ------------- *\
    VARIABLES
\* ------------- */
/* ------------- *\
    FUENTES
\* ------------- */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?6s6d3k");
  src: url("../fonts/icomoon.eot?6s6d3k#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?6s6d3k") format("truetype"), url("../fonts/icomoon.woff?6s6d3k") format("woff"), url("../fonts/icomoon.svg?6s6d3k#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  /* speak: none; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
}

.icon-envelope:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-menu:before {
  content: "";
}

.icon-close:before {
  content: "";
}

.contenedor {
  max-width: 900px;
  text-align: center;
  margin: 30vh auto;
  position: relative;
}

.background {
  background-color: #466173;
  background-image: url("../items/images/background.png");
  background-size: cover;
}

.button {
  border-radius: 12px;
  border: none;
  height: auto;
  color: white;
  padding: 7px 15px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.3rem;
  background: #fd324e;
  background: linear-gradient(to left, #fe344e, #ff7250);
}

body {
  background-color: #152029;
  font-family: "Allerta", sans-serif;
  margin: 0;
  animation-name: tr;
  animation-duration: 6s;
}

table {
  width: 100%;
}

th {
  padding: 10px 20px;
  background: #273b47;
  text-align: left;
  color: white;
}

td {
  padding: 20px;
}

label {
  margin: 10px 0 0 0;
}

table, td, th {
  border: 1px solid #273b47;
  border-collapse: collapse;
}

input {
  height: 2.5vh;
}

input, textarea {
  padding: 5px;
  border: 2px solid #273b47;
  border-radius: 6px;
  outline: 0;
}

input:focus, textarea:focus {
  background: lightgray;
}

ol {
  padding: 0;
  list-style: none;
  counter-reset: features;
}

li {
  font-size: 18px;
  letter-spacing: 0.5px;
}

li:before {
  counter-increment: features;
  content: counter(features) ".";
}

h2 {
  color: #e7ecef;
}

.header {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.titulo {
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  color: #e7ecef;
  margin-bottom: 0;
  margin-top: 70px;
  line-height: 13vh;
}
.titulo > span {
  color: #FF524F;
  font-style: italic;
  border-bottom: 3px dashed #FF524F;
}

.slogan-title {
  font-size: 24px;
  font-style: italic;
  margin-top: 0;
}

.portada {
  color: white;
  padding: 20px;
  height: calc(100vh - 40px);
}
.portada > button {
  margin-bottom: 70px;
}

.menu {
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right: 0;
}

.menu li {
  display: inline-block;
  margin-left: 30px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu li:before {
  content: "∘";
  font-size: 50px;
  line-height: 20px;
  color: white;
}

.logotipo {
  display: inline-block;
  margin-left: 0;
}

.footer {
  display: flex;
  justify-content: center;
  background: #273b47;
  padding: 60px 10px;
  margin: auto;
  text-align: center;
  max-width: 1920px;
  z-index: 300;
}

.contacto {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  align-items: center;
}

.contacto img {
  display: block;
}

.contacto strong {
  display: block;
}

.contacto a {
  color: white;
  text-decoration: none;
  margin: 0 15px 0 0;
}

.formulario {
  display: flex;
  width: 400px;
  color: white;
}

.col1, .col2 {
  display: flex;
  flex-direction: column;
}

.col1 {
  margin-right: 15px;
}

.col2 {
  align-items: flex-start;
}

.col2 .button {
  margin-top: 15px;
}

.intereses label {
  font-size: 12px;
}

.formulario label, .sexo, .intereses {
  margin-bottom: 10px;
}

.sexo {
  margin-top: 10px;
}

.tabla {
  margin: 50px 0;
}

.burguer-button {
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  height: 40px;
  background: #395667;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: fixed;
  left: 20px;
  top: 20px;
  color: white;
  z-index: 3;
  display: none;
}

.video-demo {
  max-width: 700px;
  width: 100%;
  border: 5px solid #3c5b6e;
}

.video-demo-contenedor {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.guitarras {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  margin: 0;
  margin-bottom: 100px;
  color: #1F313C;
}
.guitarras > h2 {
  width: 50%;
  margin: 2rem 0 5rem 25rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2.8rem;
}

.guitarra {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 45%;
  padding: 10px 4em;
  height: 25vh;
  margin: 20px auto;
  border-radius: 15px;
  color: whitesmoke;
  background-color: #118ab2;
  transition: 0.3s;
  z-index: 300;
  /* overflow: hidden; */
}
.guitarra-image {
  width: 100%;
  max-width: 350px;
  position: absolute;
  right: 30px;
  left: initial;
  /* top: -82px;   */
  bottom: 0px;
}

.guitarra-name {
  font-size: 3em;
  margin: 0 0 0.2em;
  border-bottom: 0.1rem dashed;
}

.guitarra:hover {
  box-shadow: 10px 10px 0 #fe6d73;
}

.guitarra:nth-of-type(even) {
  justify-content: flex-end;
  background-color: #06d6a0;
  color: #212529;
}

.guitarra:nth-of-type(even):hover {
  box-shadow: -10px 10px 0 #ffcb77;
}

.guitarra:nth-of-type(even) .guitarra-image {
  max-width: 400px;
  left: 0;
  right: initial;
  /* top: -20px; */
  bottom: 0px;
}

@media screen and (max-width: 800px) {
  .tabla {
    margin: 50px 20px;
  }

  .tabla .contenedor {
    overflow: auto;
    border: 1px solid #273b47;
  }

  /* precios */
  /* portada */
  .titulo {
    font-size: 45px;
    margin-top: 30px;
  }

  .title-a {
    font-size: 18px;
  }

  .portada {
    height: auto;
  }

  .portada .button {
    margin-bottom: 30px;
    display: inline-block;
  }

  /* portada */
  /* guitarras */
  .video-demo-contenedor {
    margin-bottom: 30px;
  }

  .guitarras {
    text-align: center;
  }

  .izquierda, .derecha {
    float: none;
    position: static;
  }

  .title-b {
    margin: 0;
  }

  .guitarra li {
    list-style: none;
  }

  .guitarra.b {
    height: auto;
  }

  .contenedor-guitarra-b {
    position: static;
    margin: 0;
  }

  .contenedor-guitarra-a {
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  /* footer */
  .footer .contenedor {
    display: block;
  }

  .contacto {
    margin: 0 auto;
  }

  .formulario {
    display: block;
    margin: 0 auto;
    width: 300px;
  }

  .intereses label {
    display: block;
    font-size: 16px;
  }

  .col1 {
    margin: 0;
  }

  input[type=text],
input[type=email] {
    font-size: 16px;
    padding: 5px;
  }

  textarea {
    width: 100%;
  }

  input[type=radio],
input[type=checkbox] {
    /* zoom: 1.5; */
  }

  /* footer */
}
@media screen and (max-width: 650px) {
  .header {
    text-align: center;
  }

  .logotipo {
    margin: 0;
  }

  .menu {
    position: static;
    display: block;
  }

  .menu li:first-child {
    margin: 0;
  }

  .menu ul {
    padding: 0;
  }

  /* guitarras */
  /*.video-demo {
      margin: 0 10px;
  }*/
  /* guitarras */
}
@media screen and (max-width: 500px) {
  /* portada */
  .portada .button {
    display: block;
  }

  .precios .header .logotipo {
    margin: 50px 0;
  }

  .burguer-button {
    display: block;
  }

  .portada .contenedor {
    position: static;
  }

  .header {
    position: static;
  }

  .header .contenedor {
    position: static;
  }

  .menu {
    background: rgba(255, 60, 88, 0.8);
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 2;
    bottom: 0;
    right: 0;
    display: flex;
    width: 100%;
    align-items: center;
    transition: 0.3s;
  }

  .menu.active {
    left: 0;
  }

  .menu ul {
    flex: 1;
  }

  .menu li {
    display: block;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid white;
  }

  .menu li:before {
    display: none;
  }

  .menu li:first-child {
    border-top: 1px solid white;
  }

  .portada {
    text-align: center;
  }

  .titulo {
    font-size: 30px;
  }

  .title {
    font-size: 16px;
  }

  /* portada */
  /* guitarras */
  .guitarra img {
    width: 200px;
    /*height: auto;*/
  }

  .title-b {
    font-size: 30px;
  }

  .video-demo-contenedor {
    margin: 0 10px 30px 10px;
  }

  /* guitarras */
  /* footer */
  .col2 {
    align-items: stretch;
  }

  /* footer */
}
video {
  width: 100%;
}

.video-responsive-contenedor {
  position: relative;
  padding-top: 56.25%;
}

.video-responsive-src {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .background {
    background-image: url("../items/images/background2x.png");
  }
}
.flicker-enter {
  animation-name: flicker;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}

.flicker-exit {
  animation-name: flicker;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}

@keyframes flicker {
  from {
    opacity: 0.5;
    transform: rotateY(0deg);
  }
  4% {
    opacity: 0.5;
  }
  6% {
    opacity: 0.45;
  }
  8% {
    opacity: 0.55;
  }
  10% {
    opacity: 0.45;
  }
  11% {
    opacity: 0.5;
  }
  12% {
    opacity: 0.65;
  }
  14% {
    opacity: 0.55;
  }
  16% {
    opacity: 0.7;
  }
  17% {
    opacity: 0.55;
  }
  19% {
    opacity: 0.5;
  }
  20% {
    opacity: 0.5;
  }
  24% {
    opacity: 0.5;
  }
  26% {
    opacity: 0.69;
  }
  28% {
    opacity: 0.5;
  }
  38% {
    opacity: 0.45;
  }
  40% {
    opacity: 0.5;
  }
  42% {
    opacity: 0.6;
  }
  44% {
    opacity: 0.5;
  }
  46% {
    opacity: 0.5;
  }
  56% {
    opacity: 0.5;
  }
  58% {
    opacity: 0.75;
  }
  60% {
    opacity: 0.5;
  }
  68% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.6;
  }
  72% {
    opacity: 0.5;
  }
  93% {
    opacity: 0.5;
  }
  95% {
    opacity: 0.6;
  }
  97% {
    opacity: 0.5;
  }
  to {
    opacity: 0.5;
    transform: rotateY(360deg);
  }
}
@keyframes tr {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wavetop {
  position: absolute;
  width: 100%;
  bottom: -527px;
  height: 527px;
  overflow: hidden;
  transform: rotate(180deg);
}

.wavebot {
  position: absolute;
  width: 100%;
  bottom: -1365px;
  height: 527px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 2402px;
  height: 427px;
  left: -180px;
  bottom: -70px;
  background: url(../items/images/waves.png) center bottom no-repeat;
  animation: 8s waves;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.a {
  background-position: 0 -854px;
}

.b {
  background-position: 0 -427px;
  animation-delay: 0.6s;
}

.c {
  background-position: 0 0;
  animation-delay: 1.2s;
}

@keyframes waves {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-80px, 30px);
  }
  100% {
    transform: translate(160px, -60px);
  }
}

/*# sourceMappingURL=index.css.map */
